/* Body */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins"
}

body {
  background: #f3f3f3;
}

::selection {
  background-color: #ffe599;
  color: #000;
}

/* Navigation Bar */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: #e7e7e7;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.logo {
  cursor: pointer;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 28px;
  text-decoration: none;
  color: #000000;
}

.logo:hover {
  text-shadow: #e7e7e7 1px 0 5px;
}

.nav__links a {
  font-family: "Poppins";
  font-weight: bold;
  color: #000000;
  font-size: 16px;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  /* color: #0088a9; */
  border-bottom: 2px solid #000000;
}

.btn2 {
  font-size: 16px;
  font-weight: bold;
  padding: 8px 18px;
  color: #0f0f0f;
  text-decoration: none;
  background-color: #ffe599;
  border: 2px solid #0f0f0f;
  border-radius: 50px;
  cursor: pointer;
}

.btn2:hover {
  background-color: #e7e7e7;
  border: 2px solid #000000;
  border-radius: 50px;
  color: #000000;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.44);
}

.active {
  border-bottom: 2px solid #000000;
  
}

/* Log In Form */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}
.box {
  background: #fdfdfd;
  display: flex;
  flex-direction: column;
  padding: 25px 25px;
  border-radius: 20px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
}
.form-box {
  width: 450px;
  margin: 0px 10px;
}
.form-box header {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 10px;
}
.form-box form .field {
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
}
.form-box form .input input {
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}
.btn {
  height: 35px;
  background: #ffe599;
  border: 0;
  border-radius: 5px;
  color: #0f0f0f;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 10px;
  padding: 0px 10px;
}
.btn:hover {
  opacity: 0.82;
}
.submit {
  width: 100%;
}
.links {
  margin-bottom: 15px;
}

h1 {
    font-size: 30px;
}