/* Body */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend";
  text-decoration: none;
}

body {
  background-color: #f3f3f3;
}

::selection {
  background-color: #ffe599;
  color: #000;
}

/* Navigation Bar */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: #e7e7e7;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.logo {
  cursor: pointer;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 28px;
  text-decoration: none;
  color: #000000;
}

.logo:hover {
  text-shadow: #e7e7e7 1px 0 5px;
}

.nav__links a {
  font-family: "Poppins";
  font-weight: bold;
  color: #000000;
  font-size: 16px;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  /* color: #0088a9; */
  border-bottom: 2px solid #000000;
}

.btn {
  font-size: 16px;
  font-weight: bold;
  padding: 8px 18px;
  color: #f3f3f3;
  text-decoration: none;
  background-color: #0f0f0f;
  border: 2px solid #0f0f0f;
  border-radius: 50px;
  cursor: pointer;
}

.btn:hover {
  background-color: #e7e7e7;
  border: 2px solid #000000;
  border-radius: 50px;
  color: #000000;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.44);
}

.active {
  border-bottom: 2px solid #000000;
  background-color: #ffe599;
}

/* Main Content */

.about {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 3rem 8%;
}

.about .content {
  display: flex;
  justify-content: space-between;
  margin: 4.8rem 0;
}

.about .content h1 {
  font-size: 3.7rem;
  line-height: 3.7rem;
  letter-spacing: 1px;
}

.about .content p {
  width: 40%;
}

/* Profile Cards */

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.cards .card {
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  text-align: center;
  height: 250px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 8%;
  position: relative;
  background-color: #fff;
  z-index: 0;
  overflow: hidden;
}

.cards .card:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #494949;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.5s ease-out;
}

.cards .card:hover:before {
  transform: scale(21);
}

.cards .card:hover {
  color: #fff;
  box-shadow: 0px 10px 30px 0px rgba(94, 94, 94, 0.801);
  cursor: pointer;
  color: #fff;
}

.cards .card h3 {
  padding-top: 25px;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin-bottom: 16px;
}

/* Footer Part */

.end {
  background-color: #0f0f0f;
  padding: 50px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: #fff;
  text-align: center;
  font-size: 48px;
}

.btn2 {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 30px;
  color: #f3f3f3;
  text-decoration: none;
  background-color: #0f0f0f;
  border: 2px solid #ffffff;
  border-radius: 50px;
  cursor: pointer;
}

.btn2:hover {
  transition-duration: 0.6s;
  background-color: #e7e7e7;
  border: 2px solid #000000;
  border-radius: 50px;
  color: #000000;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.44);
}

.footer {
  background-color: #0f0f0f;
  margin-top: 80px;
  padding: 40px 0;
  border-style: solid;
  border-width: 1px 0 0;
  border-color: #323232;
  font-size: 16px;
  font-family: "Lexend";
  font-weight: 300;
}
